<div class="container">
  <form class="form" method="post">
    <h3>Add article</h3>
    <input type="text" name="title" placeholder="Title">
    <input type="text" name="author" placeholder="Author">
    <textarea name="body"></textarea>
    <button type="submit">Add article</button>
  </form>
</div>
