<div class="container">
  <div class="articles">
    {{#each articles}}
      <div class="article">
        <h2>{{ title }}</h2>
        <p>{{ author }}</p>
        <hr>
        <p>{{ body }}</p>
        <a href="/articles/{{ _id }}">Read more</a>
      </div>
    {{/each}}
  </div>
</div>
