<div class="container">
  <form class="form" method="post">
    <h3>Login</h3>
    <input type="text" name="username" placeholder="Username">
    <input type="password" name="password" placeholder="Password">
    <button type="submit">Login</button>
  </form>
</div>
